{% extends '_base.html' %}
{% load static %}

{% block title%}Home{% endblock %}

{% block content %}
    <a href="{% url 'home' %}">Home</a>
    <br>
    <a href="{% url 'about' %}">About</a>
    <br>
    {% if user.is_authenticated %}
        Hi {{ user.first_name }}!
        <br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>Please login or signup</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
    <br>
    {% for i in 'aaaaaaaa' %}
        <a href=""><img src="{% static 'images/cube-agree-c-62-sl.png' %}" alt=""></a>
        <h2>Bike name</h2>
        <p>Price : $1099</p>
    {% endfor %}
{% endblock %}