{% extends '_base.html' %}
{% load static %}

{% block title%}Home{% endblock %}

{% block content %}
    <a href="{% url 'about' %}">About</a>
    <br>
    {% if user.is_authenticated %}
        Hi {{ user.first_name }}!
        <br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>Please login or signup</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
    {% endif %}
    <br>
    <p>Categories :</p>
    <ul>
        <li><a href="{% url 'home' %}">All bikes</a></li>
        {% for category in links %}
            <li><a href="{{ category.get_url }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
    {% for bike in bikes %}
        <a href="{{ bike.get_url }}"><img src="{{ bike.image.url }}" alt="{{ bike.name }}"></a>
        <h2>{{ bike.name }}</h2>
        <p>Price : ${{ bike.price }}</p>
    {% endfor %}
{% endblock %}